#root {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: #C4855B;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: rgba(76, 35, 8);
  max-height: fit-content;
}

.nav-link .navbar-brand{
  color: #C4855B !important;
}

.content-wrapper  {
   padding-left: 0 !important;
    padding-right: 0 !important;

}
