.modal-90w {
  max-width: 90vw !important;
  justify-content: center !important;
  padding-left: 0%;
}

.modal-body img {
  display: block;
  margin: 0 auto;
  object-fit: contain; 
  max-width: 100vw;
  max-height: 100vh;
  
}

